body {
  font-family: "Arial";
  box-sizing: border-box;
  background-image: linear-gradient(to right,#61dafb,#282c34);
}
.tab{
  background-color:#fff;
}

.tab:focus{
  outline: none;
}
.tab:hover{
  background-color: #61dafb;
  cursor: pointer;

}
.hero{
  background-image: linear-gradient(to right bottom,rgba(111, 210, 213, 0.8),rgba(91, 238, 186, 0.8)), url(static/photos/prva.png);
}
.title{
  color: #282c34;
}